body {
  font-family: "Montserrat";
}

.card-title {
  font-size: 8rem;
}
p {
  font-size: 4rem;
}

#qOnScreen {
  margin: 0;
}
#genNewQ {
  margin: 0;
}
#title {
  margin: 5rem 0;
}
.questionDisplay {
  margin: 0;
}
.container {
  margin-left:
}
