body {
  font-family: "Montserrat";
}

.card-title {
  font-size: 6rem;
  font-weight: 700;
}
p {
  font-size: 4rem;
}

#qOnScreen {
  margin: 2rem 0;
}
#genNewQ {
  margin: 0 0 8rem 0;
}
#title {
  margin: 4rem 0 0 0;
}
.questionDisplay {
  margin: 0;
}
.container {
  margin-left:
}
